/* 日時別予約表示画面のCSS 作成者:佐々木 修正日時:1/19 */

#submit{
    margin: 0 auto; /* ブロック要素に対し中央寄せ */
    background-color: #29a5e2; /* 背景色の変更 */
    padding: 5px 100px; /*枠内の幅を設定 */
    border-radius: 5px; /* 角を丸くする */
    border-width: 0px; /* 枠線を消去 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影を設定 */
}

#submit:hover{
    background-color: #a7a7a7;
}

#number_line {
    position: relative;
    width: 600px;
    height: 50px;
    border-top: 2px solid black;
    margin: 10px;
    left: 100px;
}

.label {
    position: absolute;
    bottom: 100px;
    text-align: center;
    font-size: 15px;
    margin: -3px;
}

.tick {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: black;
    bottom: 0;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    top: -2.75px; /* 点が目盛りの線と重ならないように */
    margin: -4px;
}