/* 一般ユーザマイページのCSS 作成者:佐々木 修正日時:1/29 */

table{
    display: flex;
    align-items: flex-start; /* 上部に揃える */
    gap: 30px; /* テーブルとiframeの間にスペースを空ける */
    margin-top: 20px;
}

#submit{

    background-color: #29a5e2; /* 背景色の変更 */
    padding: 5px 100px; /*枠内の幅を設定 */
    border-radius: 5px; /* 角を丸くする */
    border-width: 0px; /* 枠線を消去 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影を設定 */
}

#submit:hover{
    background-color: #a7a7a7;
}

h2{
    position: relative; /* h2を基準にした位置指定 */
    padding-right: 30px; /* 四角形との間隔 */
}

#user_name, #reserves #name_time{
    color: black; /* テキスト色を黒に設定 */
    text-align: center; /* テキストを中央揃えに設定 */
    padding: 14px 16px; /* リンク内部の余白を設定 */
    text-decoration: none; /* 下線を削除 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影を設定 */
}

#user_name{
    position: absolute;
    right: 20px; /* 右端に配置 */
    top: 0; /* 上端に配置 */
    width: 200px;
    height: 40px;
    background-color: white; /* 四角形の色 */
    border-radius: 10px; /* 角を丸くする */
}

#name_time{
    width: 600px;
    height: 40px;
    background-color: rgb(192, 192, 192); /* 四角形の色 */
}

#button:hover{
    background-color: #575757;
}

#button{
    color: black; /* テキスト色を黒に設定 */
    text-align: center; /* テキストを中央揃えに設定 */
    padding: 14px 16px; /* リンク内部の余白を設定 */
    text-decoration: none; /* 下線を削除 */
    background-color: white; /* 背景色を白に設定 */
    border-radius: 4px; /* 角を丸くする */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影を設定 */
}

#reservation_string{
    text-align: center;
}

#reserves {
    display: flex; /* 横並びにする */
}